.dockerignore
.git
docker-compose.yml
dockercreds.txt
docker-compose_terraform.yml
Dockerfile
recreate.sh
startover.sh
database/
images/
data/
public/img/photos/
public/img/Slot_1_Image/
public/img/Slot_2_Image/
public/img/Slot_3_Image/
public/img/Slot_4_Image/
public/img/Slot_5_Image/
Terraform/
