.env
dockercreds.txt
images/
node_modules/
database/
recreate.sh
startover.sh

public/img/photos/*
!public/img/photos/.gitkeep

public/img/Slot_1_Image/*
!public/img/Slot_1_Image/.gitkeep

public/img/Slot_2_Image/*
!public/img/Slot_2_Image/.gitkeep

public/img/Slot_3_Image/*
!public/img/Slot_3_Image/.gitkeep

public/img/Slot_4_Image/*
!public/img/Slot_4_Image/.gitkeep

public/img/Slot_5_Image/*
!public/img/Slot_5_Image/.gitkeep
