.env
config/config_aws.json
dockercreds.txt
images/
node_modules/
database/
data/
recreate.sh
startover.sh
Terraform/prod/AAWEBSITE.pem
Terraform/staging/AAWEBSITE.pem
Terraform/modules/webserver/AAWEBSITE.pem
Terraform/modules/webserver-staging/AAWEBSITE.pem
config/config_aws.json

public/img/photos/*
!public/img/photos/.gitkeep

public/img/Slot_1_Image/*
!public/img/Slot_1_Image/.gitkeep

public/img/Slot_2_Image/*
!public/img/Slot_2_Image/.gitkeep

public/img/Slot_3_Image/*
!public/img/Slot_3_Image/.gitkeep

public/img/Slot_4_Image/*
!public/img/Slot_4_Image/.gitkeep

public/img/Slot_5_Image/*
!public/img/Slot_5_Image/.gitkeep
.DS_Store
