extends ../../layout.pug

block content
  .container
    //- h1 Update Password 
    //- p This is a form that you can use to update your Password 
    //- form(action="/updatePassword" method="post")
    //-     input(type="password" placeholder="Current Password" required="required" name="currentPassword")
    //-     br
    //-     br
    //-     input(type="password" placeholder="New Password" required="required" name="newPassword")
    //-     button Update Password
    br
    br
    h4 Form to Update your login Password 
    br
    form(action="/updatePassword" method="post" style="width: 50%;")
      .form-group
        label(for='Current Password') Current Password
        input.form-control(type='password', name='currentPassword', autofocus)
      .form-group
        label(for='New Password') New Password
        input.form-control(type='password', name='newPassword')
      button.btn.btn-primary Update

