extends ../../layout.pug

block content
  .container
    br
    br
    //- h1 Update Email - #{user.local.email}
    //- p This is a form that you can use to update Email 
    //- form(action="/updateEmail" method="post")
    //-     input(type="email" placeholder="Current Email" required="required" name="currentEmail")
    //-     br
    //-     br
    //-     input(type="email" placeholder="New Email" required="required" name="newEmail")
    //-     button Update Email
    //-     br
        br
    h4 Form to Update your login Email 
    br
    form(action="/updateEmail" method="post" style="width: 50%;")
      //- legend Update
      .form-group
        label(for='Current Email') Current Email
        input.form-control(type='email', name='currentEmail', autofocus)
      .form-group
        label(for='New Email') New Email
        input.form-control(type='email', name='newEmail')
      button.btn.btn-primary Update
      //- a.btn.btn-link(href='/forgot') Update 

