extends ../../layout.pug

block content
  .container
    br
    br
    h3 List of All Admins who can edit the website.
    br
    hr
    br
    table(class="table table-hover table-striped" style="box-shadow: 10px 10px 5px #888; width: 60%; text-align: center; border: 2px solid grey;")
        thead(class="head" style="background-color: grey; color: white; background-image: linear-gradient(-90deg, grey, rgb(12, 106, 160, 0.3)); ")
            tr 
                th(scope='col') Admins (Email)
                th(scope='col') Date Created
        tbody
            each admin in adminCreatedList
                tr
                    td=admin.admins
                    td=admin.dateCreated



