extends ../../layout.pug

block content
    .container
        br
        br
        h2(style="color: red;") Hello Admins! Welcome to Register Page
        br
        h3 Sign Up to create an Account.
        br
        -if(message)
            .alert.alert-danger !{message}
        
        form(action='/Admin_Register', method='POST' style="width: 50%;")
            .form-group
                label(for='username') Username
                input.form-control(type='text', name='username', required='' autofocus)
            .form-group
                label(for='email') Email
                input.form-control(type='text', name='email' required='')
            .form-group
                label(for='password') Password
                input.form-control(type='password', name='password' required='')
            .form-group
                label(for='confirm') Confirm Password
                input.form-control(type='password', name='confirm' required='')
            button.btn.btn-primary(type='submit') Register
            a.btn.btn-link(href='/Admin_Login') Login
